.rightcol {
  /* position: fixed;
   top: 0%;
   left: 0%; */
   overflow:hidden;
}

.leftcol {
   /* border:solid 1px red;
   position: relative;
   top: 0%;
   left: 50%;  */
   overflow: hidden;
   height: 100%;
}

.subsection {
  overflow-y: scroll;
  height: 700px;
}

.border-left {
   margin-top: 140px;
   margin-left: 60px;
   margin-right: 30px;
   background: white;
}

.border-right {
   padding-top: 140px;
   margin-right: 60px;
   height: 100%;
   background: white; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#9AB3AC, #D0F8E8); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#9AB3AC, #D0F8E8); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#9AB3AC, #D0F8E8); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#9AB3AC, #D0F8E8); /* Standard syntax (must be last) */
}

.border-right h1 {
  font-family: "Quicksand", Arial, Sans-serif;
  font-size: 60px;
  color: #FFFFFF;
  margin-left: 20px;
}

.border-right h3 {
  font-family: "Raleway", Arial, Sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 120px;
}

.section-header {
   background: #525153;
   font-family: "Quicksand", Arial, Sans-serif;
   font-size: 35px;
   color: #FFFFFF;
   height: 80px;
}

.section-footer {
  font-family: "Raleway", Arial, Sans-serif;
  font-size: 20px;
  color: #2EC186;
}

.section-footer a {
  color: #2EC186;
}

.subsection h2 {
   font-family: "Open-Sans", Arial, Sans-serif;
   font-size: 25px;
   color: #728F87;
   margin-top: 60px;
   margin-bottom: 40px;
   font-weight: 600;
}

.subsection p {
  font-family: "Open-Sans", Arial, Sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

#intro p {
  border-left: solid #728F87;
}

.subsection {
  padding: 30px;
  padding-top: 0px;
}

body {
   width: 100%;
   margin: 0;
   height: 100%;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#D3DDDA, #EBFCF6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#D3DDDA, #EBFCF6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#D3DDDA, #EBFCF6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D3DDDA, #EBFCF6); /* Standard syntax (must be last) */
}

.top-navigation {
  font-family: "Quicksand", Arial, Sans-serif;
  font-size: 100px;
  color: #FFFFFF;
}

.top-navigation a {
  color: #525153;
}

.top-navigation a .selected {
  color: #FFFFFF;
}

body {
  width: 100%;
}
h3 {
  margin-top: 40px;
}

.title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#progress-link {
  font-family: "Raleway", Arial, Sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

#progress-link a {
  color: #2ec186;
}

.divider {
  border-top: solid 1px black;
}

.text1-1 p {
  margin-top: 10px;
  font-size: 15px;
}